@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto&display=swap');



*{
    margin: 0;
    font-family: 'poppins' ,sans-serif;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

:root{
    --container-color:#f80101;
    --second-color:#0c0c0c;
    --text-color:#172317;
    --bg-color:#fff;
}

a{
    text-decoration: none;
    color: #f80101;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

section{
    padding: 3rem 0 2rem;
}
 ::selection{
    color:var(--bg-color);
    background: var(--second-color);
 }


 header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200; 
 }

 .container{
    max-width: 1086px;
    margin: auto;
    width: 100%;
 }
 

 .logo{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);   
 }


.logo span{
    color: var(--second-color);
}


.home{
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text{
    color: var(--bg-color);
    text-align: center;

}

.home-title{
    font-size: 3.5rem;
}


.home-subtitle{
    font-size: 1rem;
    font-weight: 400;
}


.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
}

.filter-items{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}


.post{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    justify-content: center;
}























*{
    margin: 0px;
    padding: 0px;
   }
   body{
    font-family: arial;
   }
   .main{
   
    margin: 2%;
   }
   
   .card{
        width: 20%;
        display: inline-block;
        box-shadow: 2px 2px 20px black;
        border-radius: 5px; 
        margin: 2%;
       }
   
   .image img{
     width: 100%;
     border-top-right-radius: 5px;
     border-top-left-radius: 5px;
     
   
    
    }
   
   .title{
    
     text-align: center;
     padding: 10px;
     
    }
   
   h1{
     font-size: 20px;
    }
   
   .des{
     padding: 3px;
     text-align: center;
    
     padding-top: 10px;
           border-bottom-right-radius: 5px;
     border-bottom-left-radius: 5px;
   }
   button{
     margin-top: 40px;
     margin-bottom: 10px;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
     padding:10px;
   }
   button:hover{
     background-color: black;
     color: white;
     transition: .5s;
     cursor: pointer;
   }
   

















